{% extends "base.html" %}
{% load static %}

{% block title %}usuarios{% endblock %}

{% block content %}
<div class="corpo">
    <h1>Usuários</h1>
    <p>Gerencie quem pode acessar o sistema e gere o link para que outros setores sugiram horários.</p>
    <h2>Dicionário de Usuários</h2>
    <div class="formulario">
        <form class="form" method="POST">
            {% if erro %}
                <p style="color: red;">{{ erro }}</p>
            {% endif %}
            {% csrf_token %}
            <label>Nome do usuário:</label>
            <input type="text" name="usuario" class="field" placeholder="Usuário" required>
            <label>E-mail:</label>
            <input type="email" name="mail" class="field" placeholder="Exemplo@corp.com" required>
            <label>Area:</label>
            <input type="text" name="area" class="field" placeholder="Digite em qual qual área está relacionado" required>
            <label>Cargo:</label>
            <input type="text" name="cargo" class="field" placeholder="Digite em qual setor está relacionado" required>
            <label>Local:</label>
            <select name="local">
                <option value="ep">Escritorio de Processos</option>
                <option value="externo">Externo</option>
            </select>
            <label>Peso:</label>
            <input type="number" name="peso" class="numero" placeholder="Digite o peso da situação" required>
            <input type="submit" class="btn btn-success" value="Adcionar" required>
        </form>
    </div>
<table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Papel</th>
                <th>Peso</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
            <tr>
                <td>{{ user.usuario }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.area }} - {{ user.setor }} - {{ user.get_papel_display }}</td>
                <td>{{ user.peso }}</td>
                <td><button>Editar</button><button>Excluir</button></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">
                    <h1>Nenhum usuário cadastrado!</h1>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock  %}