{% extends "base.html" %}
{% load static %}

{% block title %}user{% endblock %}

{% block content %}
<div class="corpo">
    <h1>Usuários</h1>
    <p>Gerencie quem pode acessar o sistema e gere o link para que outros setores sugiram horários.</p>
    <h2>Dicionário de Usuários</h2>
    <div class="formulario">
        <form method="get">
            <input type="text" class="buscar" >
            <select>
                <option>Escritorio de Processos</option>
                <option>Externo</option>
            </select>
            <input type="submit" class="btn btn-success" placeholder="Adcionar">
        </form>
    </div>
<table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Papel</th>
                <th>Peso</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
            <tr>
                <td>{{ user.usuario }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.area }} - {{ user.setor }} - {{ user.get_papel_display }}</td>
                <td>{{ user.peso }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">
                    <h1>Nenhum usuário cadastrado!</h1>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock  %}